@use "../../../sass/colors";

.item-wrapper {
  width: 100%;

  border-top: 2px dotted colors.$secondary-color;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.details {
  font-size: 1.2rem;
}

.details {
}

.u-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.4rem;
}

.name-wrapper {
  display: flex;
  margin-top: 2rem;
}

.dietary {
  color: colors.$secondary-color;
  font-size: 1.2rem;
}

.price {
  font-size: 1.2rem;

  margin-top: 2rem;
}

.add {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 0.5rem;

  border-top: 2px dotted colors.$secondary-color;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}
