@use "./../../../sass/colors";

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
}

.u-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4rem;
  border-bottom: 4px dotted colors.$secondary-color;
  padding-bottom: 1.5rem;
  margin-bottom: 4rem;
}

@media (max-width: 1280px) {
  .u-row {
    margin-bottom: 4rem;
    width: 90vw;
  }
}

.heading {
  font-size: 4rem;
  color: colors.$secondary-color;
}

@media (max-width: 1280px) {
  .heading {
    font-size: 3rem;
  }
}

.measure {
  color: colors.$secondary-color;
  font-size: 3rem;
}
