@use "../../../sass/colors";

.section-wrapper-border {
  border: 3px dotted colors.$secondary-color;
  padding: 1rem;
}

@media (max-width: 1280px) {
  .section-wrapper-border {
    border: none;
    margin-top: 1rem;
  }
}

.sub-heading {
  color: colors.$secondary-color;
  font-size: 2rem;

  &__sides {
    color: colors.$secondary-color;
    font-size: 2rem;
    border-bottom: 2px dotted colors.$secondary-color;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.add {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 0.5rem;

  margin-top: 1.5rem;
}

.sides-wrapper {
  border-top: 2px dotted colors.$secondary-color;
  margin-top: 1.5rem;
}

.orange {
  color: colors.$secondary-color;
}
