/* Base styles for the App */
.App {
  text-align: center;
}

/* Styles for the App header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styles for the App logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;

  /* Animation for the logo */
  @media (prefers-reduced-motion: no-preference) {
    animation: spin infinite 20s linear;
  }
}

/* Styles for the App link */
.App-link {
  color: #61dafb;
}

/* Keyframes for logo spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
